---
---
<div class="flex items-center">
  <img 
    src="/logo2.png" 
    alt="Lexpressed Logo" 
    class="h-16 w-auto"
    style="filter: brightness(0) saturate(100%) invert(45%) sepia(19%) saturate(1966%) hue-rotate(4deg) brightness(92%) contrast(89%);"
  />
</div>