---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<div class="relative ">
  <div class="absolute inset-0  opacity-10"></div>
  <div class="max-w-4xl mx-auto py-12 px-4 relative">
    <h1 class="text-5xl font-bold text-lexpressed-navy mb-4">{title}</h1>
    {description && (
      <p class="text-xl text-gray-600 max-w-2xl">
        {description}
      </p>
    )}
  </div>
</div>